<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<div id="main">
	JavaScript Device Virtualization API Reference for <span style="color: red;">Oracle Internet of Things Cloud Service Client Software Library</span> Release @release@ E70339-14<br/>
    <h1 class="page-title"><?js= title ?></h1>

    <?js= content ?>
</div>

<nav>
	JavaScript Device Virtualization API Reference for Oracle Internet of Things Cloud Service Client Software Library Release @release@ E70339-14</br>
    <?js= this.nav ?>
</nav>

<br class="clear">

<footer>
    <h2><a href="index.html">Home</a></h2>
	JavaScript Device Virtualization API Reference for <span style="color: red;">Oracle Internet of Things Cloud Service Client Software Library</span> Release @release@ E70339-14<br/>
	Copyright &copy; 2015, 2017, Oracle. All rights reserved.
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
